parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - vendor
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false

    # Constantes definidas en runtime (public/index.php)
    constants:
        - BASE_PATH

    # Reglas extra recomendadas
    checkGenericClassInNonGenericObjectType: true
    checkUninitializedProperties: true

    ignoreErrors:
        # Sustituye el deprecado checkMissingIterableValueType: false
        -
            identifier: missingType.iterableValue
